<div class="valcation-table">
    <table class="planner-table">
        <thead>
            <tr>
                <th>
                    <FluentTextField @bind-Value=FilterText AutoComplete="off" Immediate=true ImmediateDelay="500" Placeholder="Фильтр..."/>
                </th>
                <th>Месяц</th>
                <th>
                    <FluentIcon Id="myFirstButton" Icon="Icons.Regular.Size24.QuestionCircle" />
                    <FluentTooltip Anchor="myFirstButton">
                        Индекс зарплаты, условно показывает, в какие месяца выгоднее ходить в отпуск.
                        Подробнее на странице проекта <a target="_blank" href="https://github.com/for7raid/HappyVacations#%D1%80%D0%B0%D1%81%D1%87%D1%91%D1%82-%D0%B8%D0%BD%D0%B4%D0%B5%D0%BA%D1%81%D0%B0-%D0%B7%D0%B0%D1%80%D0%BF%D0%BB%D0%B0%D1%82%D1%8B">https://github.com/for7raid/HappyVacations</a>
                    </FluentTooltip>
                </th>
                @for (var item = Start; item <= End; item = item.AddMonths(1))
                {
                    <th colspan="@DateTime.DaysInMonth(item.Year, item.Month)">@item.ToString("MMMM")</th>
                }
                <th></th>
                <th></th>
            </tr>
            <tr>
                <th>Имя</th>
                <th>Дней</th>
                <th>Инд</th>
                @for (var item = Start.Date; item <= End; item = item.AddDays(1))
                {
                    <th class="@SetWeekendClass(item) @(item.Day == 1 ? "month-start" :string.Empty)">@item.ToString("dd")</th>
                }
                <th>Раб. дней</th>
                <th>SP на фичи</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var role in FilteredEmployees.OrderBy(e => e.Role).ThenBy(e => e.Name).GroupBy(r => r.Role))
            {
                double availableSpByRole = 0;

                <tr>
                    <td style="text-align:center;"><b>@role.Key</b></td>
                    <td></td>
                    <td></td>
                    @for (var item = Start.Date; item <= End; item = item.AddDays(1))
                    {
                        <td  class="@(item.Day == 1 ? "month-start" :string.Empty)" ></td>
                    }
                    <td></td>
                    <td></td>
                </tr>
                @foreach (var employee in role)
                {
                    double availableSpByEmployee = VacationCalculatorService.GetAvailableSpDays(employee, Team, Start, End, CalendarExceptions);
                    availableSpByRole += availableSpByEmployee;

                    <tr>
                        <td>
                            <div class="d-flex justify-content-between">
                                @employee.Name
                                <FluentIcon Icon="Icons.Regular.Size16.Edit" Color="@Color.Accent" OnClick="@(async _ => await EditEmployee.InvokeAsync(employee))" />
                            </div>
                        </td>

                        <td>@VacationCalculatorService.TotalDays(employee, Start, End)</td>
                        <td>@VacationCalculatorService.SalaryIndex(employee, Start, End, CalendarExceptions).ToString("0.00")</td>

                        @for (var item = Start.Date; item <= End; item = item.AddDays(1))
                        {

                            var day = employee.Items.FirstOrDefault(i => i.Date.Date == item);
                            var tuple = new Tuple<Employee, DateTime>(employee, new DateTime(item.Year, item.Month, item.Day));
                            var error = VacationCalculatorService.Validate(employee, day, CalendarExceptions);

                            <td @onclick=@(async _=> await EditDateCell.InvokeAsync(tuple)) class="@(item.Day == 1 ? "month-start" :string.Empty) @SetWeekendClass(item)" title="@error.Message">
                                <span class="badge @GetCellClass(day) @(error.HasError ? " error":"")">
                                    @if (day is not null)
                                    {
                                        @day
                                    }
                                </span>
                            </td>
                        }

                        <td>@VacationCalculatorService.GetWorkDaysInPeriod(employee, Start, End, CalendarExceptions)</td>
                        <td>@availableSpByEmployee</td>
                    </tr>

                }

                @if (role.Count() > 1)
                {
                    <tr>

                        <td style="font-style:italic">Пересечения</td>
                        <td></td>
                        <td></td>


                        @for (var item = Start.Date; item <= End; item = item.AddDays(1))
                        {

                            var count = role.Count(e => e.Items.Any(i => i.Date.Date == item && !i.Cancelled && i.ItemType == VacationItemType.Regular));

                            <td class="@(item.Day == 1 ? "month-start" :string.Empty)">
                                <span class="warning-@count">
                                    @(count > 1 ? count.ToString() : string.Empty)
                                </span>
                            </td>
                        }
                        <td style="font-style:italic">Итого</td>
                        <td>@availableSpByRole</td>

                    </tr>
                }
            }
        </tbody>
    </table>
</div>

@inject IDialogService DialogService
@inject VacationCalculatorService VacationCalculatorService

@code {
    [Parameter]
    public List<Employee> Employees { get; set; } = new();

    [Parameter]
    public IEnumerable<CalendarException> CalendarExceptions { get; set; } = Array.Empty<CalendarException>();

    [Parameter]
    public DateTime Start { get; set; } = default!;

    [Parameter]
    public DateTime End { get; set; } = default!;

    [Parameter]
    public EventCallback<Employee> EditEmployee { get; set; }

    [Parameter]
    public Team Team { get; set; }

    [Parameter]
    public EventCallback<Tuple<Employee, DateTime>> EditDateCell { get; set; }

    string FilterText = string.Empty;


    IEnumerable<Employee> FilteredEmployees => Employees
        .Where(
            e => (
                e.Name?.Contains(FilterText, StringComparison.InvariantCultureIgnoreCase)
                ?? false
            ) || (
                e.Role?.Contains(FilterText, StringComparison.InvariantCultureIgnoreCase)
                ?? false
            )
        );


    string SetWeekendClass(DateTime date)
    {
        var exception = CalendarExceptions.FirstOrDefault(d => d.Date.Date == date.Date);

        if (exception is not null)
        {
            return exception.ExceptionType == CalendarExceptionType.Weekend ? "weekend" : string.Empty;
        }

        if (date.DayOfWeek == DayOfWeek.Saturday || date.DayOfWeek == DayOfWeek.Sunday)
        {
            return "weekend";
        }

        return string.Empty;
    }

    string GetCellClass(VacationItem? item)
    {
        if (item is not null)
        {
            if (item.Cancelled)
            {
                return string.Empty;
            }

            return item.ItemType.ToString();
        }

        return string.Empty;
    }

}
