<div class="valcation-table">
    <table class="planner-table">
        <thead>
            <tr>
                <th></th>
                @for (var item = Start; item <= End; item = item.AddMonths(1))
                {
                    <th colspan="@DateTime.DaysInMonth(item.Year, item.Month)">@item.ToString("MMMM")</th>
                }
            </tr>
            <tr>

                <th>Имя</th>
                @for (var item = Start.Date; item <= End; item = item.AddDays(1))
                {
                    <th class="@GetHeaderCellClass(item)">@item.ToString("dd")</th>
                }
            </tr>
        </thead>
        <tbody>

            @foreach (var role in Employees.OrderBy(e => e.Role).ThenBy(e => e.Name).GroupBy(r => r.Role))
            {
                <tr>

                    <td style="text-align:center;"><b>@role.Key</b></td>

                    @for (var item = Start.Date; item <= End; item = item.AddDays(1))
                    {
                        <td></td>
                    } 

                </tr>


                @foreach (var employee in role)
                {
                    <tr>

                        <td>
                            <div class="d-flex justify-content-between">
                                @employee.Name
                            </div>

                        </td>
                        @for (var item = Start.Date; item <= End; item = item.AddDays(1))
                        {

                            var day = employee.Items.FirstOrDefault(i => i.Date.Date == item);
                            var tuple = new Tuple<Employee, DateTime>(employee, new DateTime(item.Year, item.Month, item.Day));
                            var error = VacationCalculatorService.Validate(employee, day, CalendarExceptions);

                            <td title="@error.Message">
                                <span class="badge @GetCellClass(day) @(error.HasError ? " error":"")">
                                    @if (day is not null)
                                    {
                                        @day
                                    }
                                </span>
                            </td>
                        }
                    </tr>

                }

            }
        </tbody>
    </table>
</div>

@inject IDialogService DialogService
@inject VacationCalculatorService VacationCalculatorService

@code {

    [Parameter]
    public IEnumerable<CalendarException> CalendarExceptions { get; set; } = Array.Empty<CalendarException>();

    [Parameter]
    public List<Employee> Employees { get; set; } = default!;

    [Parameter]
    public DateTime Start { get; set; } = new DateTime(DateTime.Now.Year, DateTime.Now.Month - 1, 1);

    [Parameter]
    public DateTime End { get; set; } = new DateTime(DateTime.Now.Year + 1, 12, 31);

    string GetHeaderCellClass(DateTime date)
    {
        var exception = CalendarExceptions.FirstOrDefault(d => d.Date.Date == date.Date);

        if (exception is not null)
        {
            return exception.ExceptionType == CalendarExceptionType.Weekend ? "weekend" : string.Empty;
        }

        if (date.DayOfWeek == DayOfWeek.Saturday || date.DayOfWeek == DayOfWeek.Sunday)
        {
            return "weekend";
        }

        return string.Empty;
    }

    string GetCellClass(VacationItem? item)
    {
        if (item is not null)
        {
            if (item.Cancelled)
            {
                return string.Empty;
            }

            return item.ItemType.ToString();
        }

        return string.Empty;
    }

}
